{% extends 'base.html' %}
{% block title %}{% endblock %}
{% load static %}
{% block content %}
{% load tailwind_filters %}



    <section class="min-h-screen py-0">
        <div class="px-4 xl:px-32 my-8">
                        <div class="flex flex-row justify-center py-1">
                             <!-- <p class="capitalize text-gray-700"><a href="{% url 'store:product_list' %}">all products</a></p>-->
                            <div class="navbar grid grid-cols-2 md:grid-cols-7 gap-1 w-full md:w-auto">
                                <p class="col-span-2 sm:col-span-1 capitalize text-center font-bold text-gray-700 text-xs md:text-sm border border-gray-700 p-2 md:p-1 lg:p-2"><a href="{% url 'store:product_list' %}">All bags</a></p>
                            {% for category in links %}
                            <p class="capitalize text-center font-bold text-gray-700 text-xs md:text-sm border border-gray-700 p-2 md:p-1 lg:p-2">
                                <a href="{{ category.get_url }}">{{ category.category_name }}</a>
                            </p>
                            {% endfor %}
                            </div>
                        </div>
                        <div class="mt-4 lg:mt-0 w-full">
                            <div class="flex justify-between items-center  tracking-wide px-1 ">
                                 <div class="flex items-center border-b border-gray-700 ">
                                    <p class="py-0 text-sm capitalize text-gray-700 "><span class="">{% if product_count ==  0 %} no products found
                                    {% elif product_count ==  1 %} One Bag Found  {% else %} {{ product_count }} Bags Found {% endif %}</span>
                                    </p>
                                 </div>
                                <div class="flex items-center space-x-4 py-0">
                                    <form method ="GET" class="text-sm mt-4">
                                    {{ form|crispy }}
                                    </form>

                                </div>
                            </div>

                            <div class="mt-6 grid grid-cols-1 gap-y-10 gap-x-4 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 xl:gap-x-8">
                            {% if products %}
                                {% for product in products %}
                                    <div class="relative border border-transparent hover:border-gray-700">
                                        {% if product.discount_percentage  %}
                                     <span class="absolute top-0 right-0 bg-black text-white text-sm font-bold  px-2.5 py-0.5 z-20">-{{ product.discount_percentage }}%</span>
                                         {% endif %}
                                    <div class=" w-full aspect-w-1 aspect-h-1 rounded-sm overflow-hidden">

                                    <a href="{{ product.get_url }}"> <img src="{% if product.images %}{{ product.images.url }}
                                    {% else %}
                                    {% static "img/default_product.png" %}
                                    {% endif %}" alt="default image product" class="w-full h-full object-center object-cover">
                                    </a>
                                    </div>

                                    <div class="mt-4 flex flex-col justify-center items-center">

                                    <h3 class="text-xs lg:text-sm text-gray-700  font-bold capitalize mb-1">
                                    <a href="{{ product.get_url }}">
                                    {{ product.product_name }}
                                    </a>
                                    </h3>
                                    {% if product.discount_percentage %}
                                    <p class="text-md lg:text-lg  font-bold  text-red-500">€ {{ product.get_sale }}<span class="line-through mx-2 text-gray-700 ">€ {{ product.price }}</span></p>
                                    {% else %}
                                    <p class="text-md lg:text-lg  font-bold text-gray-700">€ {{ product.price }}</p>
                                    {% endif %}
                                    </div>

                                    {% if product.stock <= 0 %}
                                    <small class="text-center font-medium text-red-500 capitalize">out of stock</small>
                                    {% else %}
                                    <div class="w-full flex justify-center items-center ">
                                    <a aria-label=""
                                        class="capitalize text-xs xl:text-sm rounded-sm font-bold my-2 px-4 py-2 xl:px- xl:py-2  text-white bg-black  hover:bg-gray-700 transition duration-200"
                                        href="{{ product.get_url }}">
                                        details
                                    </a>
                                    </div>
                                    {% endif %}
                                    </div>
                                {% endfor %}
                                {% else %}
                                <p class="text-xl px-4 pt-10 font-medium tracking-wide">No result found. Please try again.</p>
                                {% endif %}
                            </div>
                        <div class="my-20">
                        {% if products.has_previous %}
                        <a href="?page=1&short_field={{temp}}" class=" items-center px-2 py-1 text-xs lg:text-lg mx-1 text-gray-700 bg-white border border-black rounded-sm">First</a>
                        <a href="?page={{products.previous_page_number}}&short_field={{temp}}" class="items-center px-2 py-1 text-xs lg:text-lg mx-1 text-gray-700 bg-white border border-black rounded-sm hover:bg-black hover:text-white">&laquo</a>
                        {% endif %}
                        <p class="inline-block items-center px-2 py-1 text-xs lg:text-lg mx-1 text-white bg-black border border-black rounded-sm">Page {{products.number}} of {{products.paginator.num_pages}}</p>

                        {% if products.has_next %}
                        <a href="?page={{products.next_page_number}}&short_field={{temp}}" class="items-center px-2 py-1 text-xs lg:text-lg mx-1 text-gray-700 bg-white border border-black rounded-sm  hover:bg-black hover:text-white">&raquo</a>
                        <a href="?page={{products.paginator.num_pages}}&short_field={{temp}}" class="items-center px-2 py-1 text-xs lg:text-lg mx-1 text-gray-700 bg-white border border-black rounded-sm"> Last </a>

                        {% endif %}
                            <!-- {% if products.has_other_pages %}
                            <div class="flex">
                            {% if products.has_previous %}
                            <a href="?page={{products.previous_page_number}}&short_field={{temp}}" class="flex items-center mx-1 px-2 py-1 text-xs lg:text-lg  text-gray-700 transition-colors duration-200 transform bg-white rounded-sm hover:bg-black hover:text-white border border-black ">
                            previous
                            </a>
                            {% else %}
                            <a href="#" class="flex items-center px-2 py-1 text-xs lg:text-lg mx-1 text-gray-700 bg-white border border-black rounded-sm   cursor-not-allowed">
                            previous
                            </a>
                            {% endif %}

                            {% for i in products.paginator.page_range %}
                            {% if products.number == i %}
                            <a href="#" class="bg-black flex  items-center px-2 py-1 text-xs lg:text-lg mx-1  text-white transition-colors duration-200 transform border border-black rounded-sm hover:bg-black hover:text-white">
                            {{i}}
                            </a>
                            {% else %}
                            <a href="?page={{i}}&short_field={{temp}}" class="  flex items-center px-2 py-1 text-xs lg:text-lg mx-1  text-gray-700 transition-colors duration-200 transform bg-white border border-black rounded-sm   hover:bg-black  hover:text-white">
                            {{i}}
                            </a>
                            {% endif %}
                            {% endfor %}

                            {% if products.has_next %}
                            <a href="?page={{products.next_page_number}}&short_field={{temp}}" class="flex items-center px-2 py-1 text-xs lg:text-lg mx-1 text-gray-700 transition-colors duration-200 transform bg-white border border-black rounded-sm   hover:bg-black  hover:text-white ">
                            Next
                            </a>
                            {% else %}
                            <a href="#" class="cursor-not-allowed flex items-center px-2 py-1 text-xs lg:text-lg mx-1 text-gray-700 transition-colors duration-200 transform bg-white border border-black rounded-sm   hover:bg-black  hover:text-white ">
                            Next
                            </a>
                            {% endif%}
                            </div>
                            {% endif %} -->
                        </div>
                    </div>
        </div>
    </section>



{% endblock %}
