{% extends 'base.html' %}
{% block title %} The dashboard of| {% endblock%}
{% block content %}
{% load static %}
{% load tailwind_filters %}


<section class="px-4 xl:px-32 ">
<!-- include message-->
    <div class="">
    {% include 'includes/alert.html' %}
    </div>
<!-- include sidebar-->
    <div class="flex flex-col md:flex-row min-h-full  my-12 bg-white border rounded-md shadow-md border-gray-200">
    {% include 'includes/dashboard_sidebar.html' %}
        <div class="w-full h-full p-3 md:w-9/12">
            <div class="p-4 ">
                <div class="my-10 ">
                    <h2 class="text-3xl font-semibold text-black capitalize">Change Password</h2>
                </div>
                    <h2 class="text-lg font-semibold text-gray-700 capitalize">Account settings</h2>
                <form action="{% url 'accounts:change_password' %}" method="POST">
                    {% csrf_token %}
                    <div class="grid grid-cols-1 gap-6 mt-4 sm:grid-cols-1">
                        <div>
                            <label class="text-gray-700">Current Password</label>
                            <input required placeholder="Current Password" name="current_password" type="password" class="block w-full px-4 py-2 mt-2 text-gray-700 bg-white border border-gray-300 rounded-md">
                        </div>
                        <div>
                            <label class="text-gray-700">Create new password</label>
                            <input required  placeholder="create_new_password" name="new_password" type="password" class="block w-full px-4 py-2 mt-2 text-gray-700 bg-white border border-gray-300 rounded-md">
                        </div>
                        <div>
                            <label class="text-gray-700">Confirm Password</label>
                            <input required placeholder="confirm_password" name="confirm_password" type="password" class="block w-full px-4 py-2 mt-2 text-gray-700 bg-white border border-gray-300 rounded-md">
                        </div>
                    </div>
                    <div class="flex justify-end mt-6">
                    <button type="submit" value="Submit" class="px-6 py-2 leading-5 text-white transition-colors duration-200 transform bg-black hover:bg-gray-600 focus:outline-none focus:bg-gray-600">Submit</button>
                    </div>
                </form>
            </div>    
        </div>
    </div>
</section>


{% endblock %}
