{% extends 'base.html' %}
{% block title %} Welcome to | {% endblock%}
{% block content %}
{% load static %}
{% load tailwind_filters %}



 <!-- 
<section class="min-h-screen w-full  flex  ">
<div class="w-full lg:w-2/5 p-4 xl:px-32">
{% if not request.user.is_authenticated %}
<p class="text-3xl py-4 font-semibold">Log in</p>
<form method="POST" action="{% url 'accounts:login' %}">
{% csrf_token %}
{{ account_form|crispy }}
{% if request.GET.next %}
<input type="hidden" name="next" value="{{ request.GET.next }}"/>
{% endif %}
<input type="submit" value="Log in" class="w-full mt-3 text-sm font-bold py-3 rounded-md  text-white bg-gray-900  hover:bg-gray-700 transition duration-200">
</form>
<p>Need an account? Please <a class="text-gray-400 underline" href="{% url 'accounts:register' %}">Sign up</a>
{% else %}
<p>You are already logged in.Would you like to <a href="{% url 'accounts:logout' %}" class="underline">logout</a> ?</p>
{% endif %}
</div>
<div class="hidden lg:block w-3/5  bg-blue-600">
<div class="flex items-center h-full">
<img class="object-cover w-full h-full" src="{% static "img/signup.jpg" %}" alt="">
</div>
</div>
</section> -->


{% if request.GET.command == 'verification' %}
 <section class="min-h-screen w-full max-w-xl p-4 mt-8 xl:mt-16 mb-32 container mx-auto">
  <div class="p-10 border rounded-md shadow-md border-gray-200  ">
 
  <p class="text-lg py-4 font-medium text-center">Thank you for registering with us.<br>
  We have sent you a verification email in your email address <span class="font-semibold text-md">'{{request.GET.email}}'</span>.</p>
<p class="text-center">Already verified? <a href="{% url 'accounts:login' %}"class="underline">Login</a></p>
 
</div>
</section> 

{% else %}

<section class="h-screen flex">
<div class="w-full lg:w-2/5 px-4 xl:px-32 pt-20">
 <p class="text-3xl py-4 font-semibold">Log in</p>
    {% include 'includes/alert.html' %}

<form method="POST" action="{% url 'accounts:login' %}" class="space-y-3">
{% csrf_token %}
{{ form|crispy }}
{% if request.GET.next %}
<input type="hidden" name="next" value="{{ request.GET.next }}"/>
{% endif %}
<div>
<label class="text-sm font-semibold text-gray-600">Email*</label>
<input type="email" placeholder="Email Address" name="email" class="w-full mt-3 text-sm font-bold py-2 px-4 rounded-md  border border-gray-300 text-gray-900 placeholder-gray-300">
</div>
<div>
<label class="text-sm font-semibold text-gray-600">Password*</label>
<input type="password" placeholder="Password" name="password" class="w-full mt-3 text-sm font-bold py-2 px-4 rounded-md  border border-gray-300 text-gray-900 placeholder-gray-300">
</div>
<input type="submit" value="Log in" class="w-full mt-3 text-sm font-bold py-3 rounded-md  text-white bg-gray-900  hover:bg-gray-700 transition duration-200">
</form>
<p class="my-4">Don't have account? <a href="{% url 'accounts:register' %}" class="underline">Sign up</a></p>
<a href="{% url 'accounts:forgotPassword' %}" class="underline">Forgot Password</a> ?</p>

</div>


<div class="hidden lg:block w-3/5">
 
<img class="object-cover object-center h-full" src="{% static "img/signup.jpg" %}" alt="">
 
</div>
</section>

{% endif %}

{% endblock %}
