{% extends 'base.html' %}
{% block title %} Welcome to | {% endblock%}
{% block content %}
{% load static %}
{% load tailwind_filters %}





<!-- <section class="min-h-screen w-full max-w-xl p-4 mt-8 xl:mt-12 mb-32  container mx-auto ">
  <div class="p-10 border rounded-md shadow-md border-gray-200  ">
    {% if request.user.is_authenticated %}

  <p class="text-3xl py-4 font-semibold">Log out</p>
  <p class="text-md">Are you sure that you want to log out</p>

  <form method="POST" action="{% url 'accounts:logout' %}">
    {% csrf_token %}
     {{ account_form|crispy }}
     <input type="submit" value="Log out" class="w-full mt-3 text-sm font-bold   py-3 rounded-md  text-white bg-gray-900  hover:bg-gray-700 transition duration-200">
  </form>
  {% else %}

  <p>You are not logged in.Would you like to <a href="{% url 'accounts:login' %}" class="underline">Log in</a> ?</p>

  {% endif %}
</div>
</section> -->




{% endblock %}
