{% extends 'base.html' %}
{% block title %} Welcome to | {% endblock%}
{% block content %}
{% load static %}
{% load tailwind_filters %}




<section class="min-h-screen w-full flex">
<div class="w-full lg:w-2/5 p-4 xl:px-32">
 <p class="text-3xl py-4 font-semibold">Reset Password</p>
    {% include 'includes/alert.html' %}

<form method="POST" action="{% url 'accounts:resetPassword' %}" class="space-y-3">
{% csrf_token %}
{{ form|crispy }}
 

<div>
<label class="text-sm font-semibold text-gray-600">Password*</label>
<input type="password" placeholder="Create Password" name="password" class="w-full mt-3 text-sm font-bold py-2 px-4 rounded-md  border border-gray-300 text-gray-900 placeholder-gray-300">
</div>

<div>
<label class="text-sm font-semibold text-gray-600">Confirm Password*</label>
<input type="password" placeholder="Confirm Password" name="confirm_password" class="w-full mt-3 text-sm font-bold py-2 px-4 rounded-md  border border-gray-300 text-gray-900 placeholder-gray-300">
</div>

<button type="submit" value="reset" class="w-full mt-3 text-sm font-bold py-3 rounded-md  text-white bg-gray-900  hover:bg-gray-700 transition duration-200">Reset</button>
</form>


<p class="my-4">Don't have account? <a href="{% url 'accounts:register' %}">Sign up</a></p>
<p>You are already logged in.Would you like to <a href="{% url 'accounts:logout' %}" class="underline">logout</a> ?</p>

</div>


<div class="hidden lg:block w-3/5  bg-blue-600">
<div class="flex items-center h-full">
<img class="object-cover w-full h-full" src="{% static 'img/signup.jpg' %}" alt="">
</div>
</div>
</section>

 

{% endblock %}
