
<div  class="my-4">
  {% for message in messages %}

  <div
      class="message  flex justify-between text-gray-700 rounded p-3 bg-white border border-gray-300">

    <p class="self-center">
      <strong>{{ message }} </strong>
    </p>
    <strong class="text-xl align-center cursor-pointer alert-del">&times;</strong>
  </div>
  {% endfor %}

</div>

<script>
  // Script For Close alert

   var alert_del = document.querySelectorAll('.alert-del');
   alert_del.forEach((x) =>
     x.addEventListener('click', function () {
       x.parentElement.classList.add('hidden');
     })
   );

  </script>
