
{% extends 'base.html' %}
{% block title %} Shipping| {% endblock%}
{% block content %}
{% load static %}




<section class="min-h-screen py-14 px-4 xl:px-32">
    <div class="container flex flex-col items-center  py-8 mx-auto max-w-7xl ">
      <div class="flex flex-col w-full max-w-3xl mx-auto text-left">
        <div class="w-full mx-auto border p-6 md:p-12 border-black">
          <h2 class="text-xl md:text-2xl pb-3">SHIPPING AND RETURNS </h2>
          <ul class="space-y-2 md:text-lg">
            <li class="list-disc tracking-wide"><span class="font-bold">Prices and shipping .</span>
                <p class=""> 
                    Prices and shipping 
                    All prices shown on our website are given in euro including Greek sales tax (VAT) at the current rate of 24%.
                    Please note that the prices shown in the website do not include shipping costs.
                    We offer free delivery in Greece, 2 or 3 working days. 
                    Worldwide shipping costs 15 euros.  
                    Please make sure that you have carefully reviewed all information in your order. 
                    Once an order is received, an automated email of confirmation will be sent to you and we will proceed to the payment. 
                    The purchased items will be shipped within 10 working days. 
                    On days that our shop is closed, including Greek holidays and Sundays, received orders will be processed on next following working day. <br>
                    ALEF is not liable in any way for damages of products caused during shipment. 
                    
                 </p>
            </li>
            <li class="list-disc tracking-wide"><span class="font-bold">Returns Policy.</span>
                <p class=""> 
                    If for any reason you are not satisfied with your item can be returned for a product exchange within 7 days of the order’s delivery date.
                    Contact our customer services team at alefatelierbeta@gmail.com or call 211-7406647 to arrange your return.
                    All items must be returned in perfect condition and with the original packaging and all tags attached. 
                    We are unable to offer an exchange on items that are scratched, damaged, or not in their original packaging.
                </p>
            </li>
            <li class="list-disc tracking-wide"><span class="font-bold">Returns Charges.</span>
                <p class=""> 
                    Returns are free, however, please note that original shipping fees will not be refunded.
                    When returning items, please make sure that on the package it is clearly stated ‘Returned Items, no commercial value ’.
                    Please note, ALEF cannot be held responsible in the event of loss, theft or damage of the returned parcel.
                    <br>Parcels for which the customer’s identification (surname, first name and address) are missing shall be refused.
                    <br>Returns Address <br>
                    ALEF  -atelier- 
                    Kolokotroni 9
                    15233 Chalandri- Athens, Greece .
                </p>
            </li>
            <li class="list-disc tracking-wide"><span class="font-bold">Exchange.</span>
                <p class=""> 
                    If you are exchanging a product and the new item is a lower amount we will refund the difference via your original payment method.
                    Exchanged items will only be dispatched once returned items have undergone quality checks and are subject to product availability at the time of return.
                    This does not apply during sales period.
                </p>
            </li>
            </ul>
          
         
        </div>
         
      </div>
    </div>
  </section>




{% endblock %}

