
{% extends 'base.html' %}
{% block title %} Terms of| {% endblock%}
{% block content %}
{% load static %}




<section class="min-h-screen py-14 px-4 xl:px-32">
    <div class=" flex flex-col items-center py-8 mx-auto max-w-7xl ">
      <div class="flex flex-col w-full max-w-3xl mx-auto text-left">
        <div class="w-full mx-auto border p-6 md:p-12 border-black">
          <h2 class="text-xl md:text-2xl pb-3">TERMS AND PRIVACY POLICY</h2>
          <ul class="space-y-2 md:text-lg">
            <li class="list-disc tracking-wide"><span class="font-bold">Terms.</span>
                <p class=" "> 
                   This website is owned to <span class="font-light italic ">'ALEF ΚΟΙΝ.Σ.ΕΠ.'</span> company.<br>
                   Please read the present terms and website use carefully. <br>
                   Using our website means you have understood the present terms and agree. 
                   The terms may change without any prior notice. 
                   ALEF reserves the right to cancel an order, provided that full refund of payment is issued. 
                   All content of our website including text, graphics, logos, images, and software, is property of ALEF , and is protected by European and International copyright laws. 
                 </p>
            </li>
            <li class="list-disc tracking-wide"><span class="font-bold">Personal Data & Security.</span>
                <p class=""> 
                    Any information or personal data submitted to this site will be considered private data.<br>
                    This information will not be given or sold to any other company.<br> 
                    We reserve the right of adding our customers to our mailing list, once an order is placed and may use your email address for future communication.
                </p>
            </li>
            </ul>
          
         
        </div>
      </div>
    </div>
  </section>




{% endblock %}

