
{% extends 'base.html' %}
{% block title %} Wholesale of| {% endblock%}
{% block content %}
{% load static %}

<section class="h-screen">
    <div class="container px-5 py-14 mx-auto">
        <div class="text-center ">
            <h1 class="text-3xl sm:text-4xl  font-medium text-center uppercase text-black mb-6">carry our worlds </h1>
                <p class="text-md sm:text-lg text-black  leading-relaxed max-w-4xl mx-auto tracking-wide">
                If you are a boutique and would like to carry our worlds — wonderful!<br>
                Whether you are searching for a backpack, handbag, shoulder bag, or any accessories
                we have a wide selection of quality products.
                If we can be of service to you, let us know.<br>We’d love to connect.
                </p>
            <div class="mx-auto border border-black p-4 max-w-md my-14 tracking-wide leading-relaxed ">
                <ul class="text-md text-black ">
                    <li>Greece, Athens</li>
                    <li>Kolokotroni 9, Chalandri 152 33</li>
                    <li>alefatelierbeta@gmail.com</li>
                    <li class="font-mono text-sm mt-1">+(30) 6947-885132</li>
                    <li class="font-mono text-sm mt-1">+(30) 211-7406647</li>
                </ul>
            <span class="inline-block h-1 w-10 rounded bg-black my-2"></span>
            <h2 class="font-medium text-black tracking-wider text-sm">KRISANA ALEFANTINOU</h2>
            <p class="text-xs text-black">Product Designer</p>
            </div>
        </div>
    </div>
</section>

{% endblock %}